{% extends 'base.html.twig' %}

{% block body %}
<h1> {{ title }}</h1>



<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, quam amet. A ipsa, at odio iusto nulla maiores illo est rem, ipsum velit illum labore fuga recusandae tenetur eaque non.
Cumque maiores deserunt rem suscipit obcaecati ad est repudiandae ratione, corporis nisi vero voluptate, labore quaerat nobis optio dolores sequi aperiam, velit hic voluptatibus. Cupiditate excepturi earum sunt obcaecati a.
Excepturi suscipit cum ipsa similique repellat corrupti doloribus, quis exercitationem impedit dicta natus enim magni eum optio nulla provident reprehenderit fugiat aliquid inventore vel deleniti hic! Possimus iure dolor perferendis.
Ab quia quisquam quam vitae inventore voluptatem quasi placeat, ipsa ducimus pariatur dolorem sed cum non sit omnis. Cumque magnam aspernatur magni commodi dolor non dicta quas, excepturi nostrum mollitia?
Porro error beatae animi necessitatibus enim unde delectus, eos doloribus nesciunt atque vero veniam incidunt nihil praesentium fuga, magnam ipsa laudantium, consequatur dolor omnis dicta facere quasi debitis dolores. Dolorum.</p>
{% endblock %}